/**********
* Detailed media page rules
**********/

.mediaD-title {
    font-size: 48px;
    font-family: 'Arial', sans-serif;
    text-transform: uppercase;
}

.media-info {
    padding: 3rem 6rem;
    display: inline-block;
    border: 3px solid #333333;
    font-size: 1.25rem;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    position: relative;
}

.button_cont {
    margin-top: 50px;
}

.button_play {
    border-radius: 4px;
    background: linear-gradient(to right, #1b1b2d, #b4173a) !important;
    border: none;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    padding: 20px;
    width: 200px;
    transition: all 0.4s;
    cursor: pointer;
    margin: 5px;
}
.button_play span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
}
.button_play span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.button_play:hover span {
    padding-right: 25px;
}
.button_play:hover span:after {
    opacity: 1;
    right: 0;
}